ul{
    list-style-type: none;
    margin: 10;
    padding: 20px;
    background-color:#608BC1;
 }
 
 li{
     display: inline;
 }
 
 a{
     text-decoration: none;
     color: white;
     padding: 20px;
 }
 
 a:hover{
 background-color: black;
 }

 html{
background-image: url(Screenshot\ 2024-10-14\ 185027.png);
background-repeat:no-repeat ;
background-attachment: fixed ;
background-size: cover;
 }

 .Chess1{
    background-color:rebeccapurple;
    border-radius: 5px;
     }